.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

node_modules/
apps/**/node_modules/
packages/**/node_modules/
dist/
apps/**/dist/
packages/**/dist/
.vite/
apps/**/.vite/
coverage/
reports/

*.log
logs/

.env
.env.local
.env.*.local

*.tsbuildinfo
